@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(90deg, #f6f8fd 29px, transparent 1%) 50%, linear-gradient(#f6f8fd 29px, transparent 1%) 50%, #bfc5d3;
    background-size: 30px 30px;

    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, ::after, ::before {
    box-sizing: border-box;
}


@media (min-width: 1024px) {
    .responsive-hidden {
        display: none !important;
    }
}

.carousel-control-prev {
    margin-left: -120px;
}

.carousel-control-next {
    margin-right: -120px;
}

.carousel-indicators {
    display: none !important;
}

@media (max-width: 425px) {
    .carousel-control-prev {
        margin-left: -40px;
    }

    .carousel-control-next {
        margin-right: -40px;
    }
}

.p_absoulte {
    position: absolute;
}

.t_four {
    transition: 0.8s;
    top: 110px;
    left: 50%;
    transform: translateX(60%);
}

.t_two {
    right: 220px;
    bottom: 185px;
    transition: 0.8s;
}

.t_first {
    left: 80px;
    top: 275px;
    transition: 0.8s;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-left: 1.3em;
}

.modal-content {
    border-radius: 20px !important;
}

@media (min-width: 1024px) {

    .dropdown-item {
        transition: 0.8s;
        padding: 1rem 1rem !important;
        font-size: 15px !important;
        font-weight: 500 !important;
    }

    .dropdown .dropdown-menu {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;

        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
    }

    .dropdown.show .dropdown-menu { /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
        min-height: 26.1vw;
        opacity: 1;
    }
}

/*.fade, body, img {*/
/*    -webkit-animation-name: fade;*/
/*    -webkit-animation-duration: 1s;*/
/*    animation-name: fade;*/
/*    animation-duration: 1s;*/
/*}*/

/*@-webkit-keyframes fade {*/
/*    from {*/
/*        opacity: 0*/
/*    }*/
/*    to {*/
/*        opacity: 1*/
/*    }*/
/*}*/

/*@keyframes fade {*/
/*    from {*/
/*        opacity: 0*/
/*    }*/
/*    to {*/
/*        opacity: 1*/
/*    }*/
/*}*/

img {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
