@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(90deg, #f6f8fd 29px, transparent 1%) 50%, linear-gradient(#f6f8fd 29px, transparent 1%) 50%, #bfc5d3;
    background-size: 30px 30px;

    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, ::after, ::before {
    box-sizing: border-box;
}


@media (min-width: 1024px) {
    .responsive-hidden {
        display: none !important;
    }
}

.carousel-control-prev {
    margin-left: -120px;
}

.carousel-control-next {
    margin-right: -120px;
}

.carousel-indicators {
    display: none !important;
}

@media (max-width: 414px) {
    .carousel-control-prev {
        margin-left: -40px;
    }

    .carousel-control-next {
        margin-right: -40px;
    }
}
